{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 14,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./site/tsconfig.json"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "prettier/prettier": 0,
    "no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "overrides": [
    {
      "files": [
        "resources/js/**/*.js",
        "resources/js/**/*.jsx",
        "resources/js/**/*.ts",
        "resources/js/**/*.tsx"
      ],
      "excludedFiles": [
        "node_modules/*"
      ],
      "env": {
        "browser": true,
        "node": true,
        "es6": true
      }
    }
  ],
  "ignorePatterns": [
    "*.config.*"
  ]
}